.edit-view {
	position: absolute;
	top: 0px;
	bottom: 0px;
	width: 40%;
	
	margin-top: 48px;
	overflow: hidden;
}

div.edit-aperture {
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
	width: 60%;
	pointer-events: none !important;
}

.edit-aperture * {
	pointer-events: auto;
}

ul.edit-toolbar {
	position: absolute;
	pointer-events: none !important;
	right: 0px;
	top: 48px;
	width: 100%;
	transition: 0.35s cubic-bezier(.5,.1,0,1) all;
	-webkit-transition: 0.35s cubic-bezier(.5,.1,0,1) all;
}

.edit-toolbar > li {
	position: relative;
	pointer-events: auto;
	float: right;
	margin-right: 8px;
	margin-top: 8px;
}

.edit-toolbar > li.input-group {
	width: 70%;
	pointer-events: auto;
}

.edit-toolbar.tuck {
	top: -32px;
}

.edit-nav {
	width: 100%;
	height: 44px;
	margin: 0px;
}

.edit-nav li {
	height: 44px;
	width: 25%;
	
	float: left;
	
	background-color: rgba(255,255,255,0.8);
	
	text-align: center;
	font-size: 14px;
	line-height: 44px;
}

.edit-nav li > span {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
	color: #808080;
}

.edit-nav::before {
	width: 100%;
	height: 6px;
	background-color: rgba(230,230,230,0.8);
	display: block;
	content: '';
}

.edit-nav li.active {
	border-bottom: 4px solid #0091ea;
}

.edit-nav li.active > span {
	color: #0091ea;
}

.edit-container {
	position: absolute;
	top: 50px;
	bottom: 0px;
	width: 100%;
	
	overflow: auto;
}

.edit-bg {
	padding-top: 16px; 
	background: rgba(255,255,255,0.8);
}

.world-icon {
	text-align: center;
	cursor: pointer;
}
.world-icon .glyphicon { 
	font-size: 50px;
}
.world-icon label {
	display: block;
	margin: 0px;
}

.world-icon img {
	
}

.info {
	display:block; 
	color: #888;
	font-size: 13px;
}

.edit-widget-well {
	height: 390px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.edit-widget {
	position: relative;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.edit-widget > label {
	position: relative;
	z-index: 10;
	background: #e9e9e9;
	font-weight: 400;
	color:#909090;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	filter: grayscale(100%);
}

.edit-widget.active > label {
	transform: translateX(46px);
	-webkit-transform: translateX(46px);
	background: #FFF;
	color:#000;
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	filter: grayscale(0%);
}

.edit-widget > .icon {
	display: block;
	position: absolute;
	top: 25px;
	z-index: 0;
	
	font-size: 30px;
	color: #4caf50;
}

.edit-widget > label > input {
	position: absolute;
	visibility: hidden;
}

.edit-map-card {
	padding: 4px;
	margin-bottom: 20px;
	background: white;
	box-shadow: 0px 2px 2px rgba(0,0,0,.23);
	
	transition: 0.35s cubic-bezier(.5,.1,0,1) all;
	-webkit-transition: 0.35s cubic-bezier(.5,.1,0,1) all;
}

.edit-map-card.selected {
	box-shadow: 0px 6px 6px rgba(0,0,0,.23);
	background: #0091EA;
}

.live-preview {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	width: 320px;
	height: 480px;
	border-radius: 2px;
	overflow: hidden;
	
	box-shadow: 0px 2px 2px rgba(0,0,0,0.14),
				0px 6px 6px rgba(0,0,0,0.2);
}

.btn-search {
	width: 72px;
	color: #FFF;
	background-color: #0091EA;
	border-color: #9999FF;
}

.edit-nav > li.edit-publish {
	position: relative;
	background-color: rgba(230,230,230,0.8);
	padding: 4px;
	line-height: normal;
}

.edit-status {
	display: block;
	font-size: 10px;
	margin-top: 5px;
	margin-right: 4px;
	float: right;
}

.btn.btn-publish {
	position: relative;
	margin-top: 4px; 
	/* padding: 0px 4px; */
	border-radius: 8px;
	/* font-size: 10px; */
	
	background-color: #0091EA;
	color: #FFF;
	border: none;
}

.btn.btn-draft {
	display: block;
	float: right;
}

.btn.btn-publish:hover {
	color: #FFF;
}

.btn.btn-publish:active, .btn.btn-publish:focus, .btn.btn-publish:active:focus {
	outline: none;
	box-shadow: none;
	color: #FFF;
}

.btn.btn-save {
	width: 100%;
}

.hashtag::before {
	content:'#';
	color: #AAA;
	font-size: 20px;
	padding: 3px 0px;
}

.hashtag input {
	float: right;
	width: 90%;
}

.preview-link {
	display: inline-block;
	color: #FFF;
	
	font-size: 12px;
	padding: 0px 6px;
	
	vertical-align: middle;
	border: 2px solid white;
	border-radius: 15px;
}

.preview-link:hover, .preview-link:visited, .preview-link:active, .preview-link:hover:active {
	cursor: pointer;
	color: #FFF;
	text-decoration: none;
}

.btn.save-badge {
	background-color: #0091EA;
}

.edit-landmark-avatar.media-object {
	position: relative;
}

.edit-landmark-avatar.glyphicon {
	position: absolute;
	top:auto;
	bottom: 2px;
	right: 2px;
}

.edit-nav li.edit-landmark-navback {
	position: relative;
	width: 75%;
	background-color: rgba(230,230,230,0.8);
	padding: 4px;
	line-height: normal;
}

.edit-landmark-navback a {
	margin-top: 12px;
}

img[alt="store"] {
	background-color: white;
	border-radius: 50%;
	box-shadow: 1px 1px 4px;
}


/*MAP STUFF*/
.u-marginTop20 {
  margin-top: 20px;
}
.u-inline {
  display: inline;
}
.u-formDown48 {
  position: relative;
  top: 48px;
}
@media only screen and (max-width: 992px) {
  .u-formDown48 {
    top: 0px;
  }
}
.u-green {
  color: #5cb85c;
}
.u-opacity35 {
  opacity: 0.5;
}
.uploadActions--wrapper {
  float: right;
  margin-top: 25px;
}
.uploadActions {
  float: right;
  margin: 0px;
}
.uploadActions.loading-spinner {
	margin: 0px;
}
@media only screen and (max-width: 992px) {
  .uploadActions {
    float: none;
    display: inline-block;
  }
}
.floorButton {
  border: none;
  height: 48px;
  width: 48px;
  display: block;
  position: relative;
  left: 3px;
}
@media only screen and (max-width: 992px) {
  .floorButton {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}
.upButton {
  background: url('/img/icons/expand_up_gray.png') no-repeat;
}
.upButton:active {
  background: url('/img/icons/expand_up_gray_dark.png') no-repeat;
}
.upButton:focus {
  outline: none;
}
.downButton {
  background: url('/img/icons/expand_down_gray.png') no-repeat;
}
.downButton:active {
  background: url('/img/icons/expand_down_gray_dark.png') no-repeat;
}
.downButton:focus {
  outline: none;
}
@media only screen and (max-width: 992px) {
  .multifloor .panel-body {
    text-align: center;
  }
}
.multifloor .check {
  position: relative;
  top: -2px;
}
.multifloor .check.isGreen {
  width: 36px;
}
.multifloor .panel-heading .check {
  width: 24px;
  float: right;
  margin-right: 30px;
  top: 0px;
}

/*END MAP STUFF*/
