<div id="shelf" class="container-fluid" ng-style="{'background-color': style.bodyBG_color}" ng-class="[aperture.state]">
		<div id='top-shelf' class="row" ng-class="[aperture.navfix, aperture.state]">
			<div class="col-xs-12 category-switch">
			 <!--assuming 6 categories for now-->
				<div class="col-xs-2" ng-repeat="landmarkCategory in world.landmarkCategories" ng-class="{'selected-category': landmarkCategory.name == category}">
					<a class="text-center" ng-href="#/w/{{worldURL}}/category/{{landmarkCategory.name}}">{{landmarkCategory.name}}					</a>
				</div>
			</div>
			<div class="col-xs-12" ng-style="{'background-color': style.titleBG_color}"
							ng-click="aperture.toggle('full')">
				<div class="media">
					<div class="pull-left vertical-middle">
					<img class="media-object avatar" ng-click="aperture.toggle('half')" ng-src="{{world.avatar}}">
				</div>
					<div class="media-body vertical-middle">
					<h3 class="media-heading" ng-style="{color: style.worldTitle_color}">{{world.name}}</h3>
					<h6 ng-cloak ng-style="{color: style.worldTitle_color}">{{world.timetext.timestart | date : 'shortTime'}}-{{world.timetext.timeend | date: 'shortTime'}} @ {{world.tempLocationName}}</h6>
				</div>
				</div>
			</div>
		</div>
</div>