
<ul>
  <li ng-repeat="item in items">
    <p>{{item.name}}</p>
    <p>{{item.snippet}}</p>
  </li>
</ul>


<div class="container">
    
    <div class="row">
      <br><br><br><br>
        <h1 class="u-full-width u-textAlignCenter">Kip Logo</h1>
        <h6 class="u-full-width u-textAlignCenter">Search for things in IRL stores around you</h6>
    </div>

    <div class="row">
        <div class="four columns u-centered">
            <form class="u-full-width">
                <input id="query" name="query" type="text"
                       placeholder="What are you looking for?"
                       class="u-full-width"/>
                <input
                  type="submit" value="Search" class="u-full-width color-Positive"/></form>
            </form>
        </div>
    </div>


    <div class="row">
      <br><br><br><br>
      <h6 class="u-full-width u-textAlignCenter" >Have something to sell? <br> Add your own items to search, by location (link to Kip in iOS/android) WIP/!\</h6>
    </div>
</div>

