<div class="wrap" style="background-color:#fff;">

	<ul class="tour">

	<div class="row">
		<li class="tour-page small-tour-page" style="margin-top: 68px; height: 400px">
			<div class="container-fluid tour-panel" style="top: 0%">

				<div class="row">
					<img src="img/kip/kipLogo.svg" style="max-width:40%; margin-left:-31px;">
				</div>

				<div class="row">
					<div class="col-xs-12">
						<div class="tour-features center-block" style="padding-top:31px;">
							<h1 style="font-size:32px; padding-bottom:30px;">For every part of your life.</h1>
							<small style="font-size:93%;">Use Kip to create data bubbles: for your home, shopping, events, and public spaces. Personalize your bubbles and share them with friends.</small>
						</div>
					</div>
				</div>

				<br><br>

				<div class="row" style="padding-top:4px;">
					<div class="col-xs-12" style="cursor:pointer;">
                       <img class="centered" src="img/stickers/were_here.png">
                        <h3 class="section-title">Real People</h3>
                        <p>Find others like you by creating new hot spots and events. <br> <br>  Drop a pin, add some notes and put a time to meet up. Kip makes it easy to create and share with others.</p>
					</div>
					<div class="col-xs-12" style="cursor:pointer;">
       					<img class="centered" src="img/stickers/im_here.png">
                        <h3 class="section-title">Real Places</h3>
                        <p>Want those cool shoes you saw on the street?  <br> <br> Kip lets you search within malls, pulling up a directory to look through different brands to find exactly what you want.</p>
					</div>
					<div class="col-xs-12" style="cursor:pointer;">
  						<img class="centered" src="img/stickers/interesting.png">
                        <h3 class="section-title">Real Time</h3>
                        <p> From the best shopping deals to that hot new club, Kip will give you the inside scoop about what’s happening around you. <br> <br> With real time updates based on where, when and what you're doing. </p>
					</div>
				</div>

			</div>
		</li>
	</div>


	<div class="row">
		<li class="tour-page small-tour-page">
			<div class="container-fluid tour-panel" style="top:115%">
				
				<div class="row">
					<div class="col-xs-12">
						<br><br>
						<div class="tour-features center-block" style="padding-top:31px;">
							<h1 style="font-size:32px;">Built with Kip</h1>
							<small style="font-size:93%;">Bubbles used by thousands through our platform</small>
						</div>
					</div>
				</div>

				<br>

				<div class="row">
					<div class="col-xs-12" style="cursor:pointer;">
						<a if-href="#/w/grand_central_terminal" class="tour-thumbnail thumbnail">
							<img width="180" class="center-block tour-circle-img" src="img/tour/builtwithbubbli01.jpg">
						</a>
						<p class="built-w-bubbli-sample">Grand Central Terminal</p>
					</div>
					<div class="col-xs-12" style="cursor:pointer;">
						<a if-href="#/w/Monthly_Farmer_s_Market_Meetup" class="tour-thumbnail thumbnail">
							<img width="180" class="center-block tour-circle-img" src="img/tour/builtwithbubbli02.jpg">
						</a>
						<p class="built-w-bubbli-sample">Farmer's Market Meetup</p>
					</div>
					<div class="col-xs-12" style="cursor:pointer;">
						<a if-href="#/w/macy_s_at_herald_square" class="tour-thumbnail thumbnail">
							<img width="180" class="center-block tour-circle-img" src="img/tour/builtwithbubbli04.jpg">
						</a>
						<p class="built-w-bubbli-sample">Macy's at Herald Square</p>
					</div>
				</div>

			</div>
		</li>
	</div>

	<div class="row" style="margin-bottom:1400px">
		<li class="tour-page small-tour-page" >

			<div class="container-fluid tour-panel" style="margin-top:40px; top: 120%">
				<div class="row">
					<div class="col-xs-12">
						<div class="tour-features center-block" style="padding-top:31px;">
							<h1>With Kip, the world revolves around you.</h1>
							<small style="font-size:93%;">Your work, home, and social life all in one place.</small>
						</div>
					</div>
				</div>
				
				<br>

				<img class="" src="img/tour/slide_walk.gif" style="width: 100%; max-width: 600px">
				<br><br>

				<p>
					<strong>For more info </strong> visit <span class="u-pointer" ng-click="newWindowGo('http://kipbubbles.com')">KipBubbles.com</span>
				</p>

				<!-- world bubble -->
				<div class="marble-contain-width">
					<a class="btn btn-default" if-href="/profile/worlds"  style="color:#fff; background-color:#ed4023;">
						+ Create Your Own Bubble
					</a>
				</div>


				<!-- Feedback -->
				<div class="marble-contain-width">
					<a class="btn btn-default" ng-click="dialog.showDialog('feedbackDialog.html')" style="color:#ed4023; border-color:#ed4023;">
						<span class="glyphicon glyphicon-pencil"></span> Send Us Feedback
					</a>
				</div>

				<p>
					<strong>Questions?</strong> Email Us At <a style="color:#ed4023;" href="mailto:hello@interfacefoundry.com">hello@interfacefoundry.com</a>
				</p>


				<div class="tour-credits">
					<b>Kip</b> is a product of 
					<br>
					<span class="u-pointer" ng-click="newWindowGo('http://interfacefoundry.com')"><img width="20" src="img/IF/IF_mark.svg" style="padding-right:3px; color:#ed4023;">Interface Foundry PBC</span>
				</div>


			</div>
		</li>
	</div>


	</ul>

</div>


