<div ng-if="now" class="col-xs-12 col-sm-6 widget_margin">
	<h4 class="category-heading" ng-style="{color: style.categoryTitle_color}">Now</h4>
	<div class="landmark">
	<a ng-href="/#/w/{{world.id}}/{{now.id}}">
		<div class="media card" ng-style="{'background-color': style.cardBG_color}">
			<img ng-src="{{now.avatar}}" class="avatar media-object vertical-middle" ng-cloak> 
			<div class="media-body">
				<h3 class="media-heading" ng-style="{color: style.landmarkTitle_color}" ng-cloak>
					<span>{{ now.name }}
					<small style="color:#CCC">{{now.time.start | date: 'shortTime'}}</small></span>
				</h3>
				<span ng-cloak>{{now.summary}}</span>
			</div>
		</div>
	</a>
</div>
</div>

<div class="col-xs-12 widget_margin" ng-class="{'col-sm-6': now}">
	<h4 class="category-heading" ng-style="{color: style.categoryTitle_color}">Upcoming</h4>
	<div ng-class="{'row': !now}">
	<div class="landmark" ng-class="{'col-sm-6': !now}" 
						ng-repeat="landmark in upcoming | limitTo: 2-(now ? 1 : 0)">
	<a ng-href="/#/w/{{world.id}}/{{landmark.id}}">
		<div class="media card" ng-style="{'background-color': style.cardBG_color}" ng-class="{'last': $last}">
			<img ng-src="{{landmark.avatar}}" class="avatar media-object vertical-middle" ng-cloak> 
			<div class="media-body">
				<h3 class="media-heading" ng-style="{color: style.landmarkTitle_color}" ng-cloak>
					<span>{{ landmark.name }}
					<small style="color:#CCC">{{landmark.time.start | date: 'shortTime'}}</small></span>
				</h3>
				<span ng-cloak>{{landmark.summary}}</span>
			
			</div>
			
		</div>
	</a>
	<a href="#/w/{{world.id}}/upcoming">
	<div class="footer" ng-if="$last">
	<span class="footer-text">Full Schedule <span class="glyphicon glyphicon-th-list"></span></span>
	</div>
	</a>

</div>
	</div>
</div>