

<style>
  .card .container{
    min-height: 142px !important;
  }

</style>

    <!-- INDEX CARD -->
    <div class="row index_card lecture_index" onclick="shelfPan('full');" ng-click="refreshMap(); hideSwitch();">
      <div class="col-lg-12">
        <img src="img/AICP/AICP_week_logo.svg" class="img-responsive index-logo" alt="2014 AICP WEEK">
        
        <h1>DIRECTORS LECTURE SERIES</h1>
        <h2>WEDNESDAY, JUNE 11</h2>
        <h3>BASECAMP (8:30am - 4pm) & MoMA</h3>
      </div>
    </div>



  <!-- 2 COL CARDS -->
    <div class="row">

      <!-- HAPPENING NOW -->
      <span ng-show="landmarksNow.length > 0"> 
        <div class="col-xs-6 card col-card-2">
          <h1>Happening Now</h1>
          <li ng-repeat="landmark in landmarksNow | limitTo:1">  
            <a ng-href="#/post/{{landmark.id}}">
              <div class="container" ng-class="{more: landmarksUpcoming < 1}">
                <div class="header">{{landmark.time.start | date:'h:mm a'}}<span class="pull-right">{{landmark.loc_nickname}}</span></div>
                <p class="title">{{landmark.name}}</p>
                <p class="content">{{landmark.shortDescription}}</p>
              </div>
            </a>
          </li>
          <span ng-show="landmarksUpcoming < 1"><a ng-href="#/list/lecture/all"><div class="footer lecture-footer">FULL SCHEDULE <span class="typcn typcn-th-list"></span></div></a></span>

        </div>
      </span>


      <!-- UPCOMING -->
      <span ng-show="landmarksUpcoming.length > 0">


          <div class="card"> 
            <!-- <h1>Happened</h1> -->
            <h1 style="margin-bottom:3px;"> Next Event<span ng-show="upcomingLimit > 2">s</span> </h1>
          </div>
         <li ng-repeat="landmark in landmarksUpcoming | limitTo:upcomingLimit"> 
          <div class="col-xs-6 card 2col"> 
              <a ng-href="#/post/{{landmark.id}}">
                <div class="container" ng-class="{more: $last}">
                  <div class="header">{{landmark.time.start | date:'h:mm a'}}<span class="pull-right">{{landmark.loc_nickname}}</span></div>
                  <p class="title">{{landmark.name}}</p>
                  <p class="content">{{landmark.shortDescription}}</p>
                </div>
              </a>

              <span ng-show="($last)"><a ng-href="#/list/lecture/all"><div class="footer lecture-footer">FULL SCHEDULE <span class="typcn typcn-th-list"></span></div></a></span>

            </div>
          </li>


      </span>

    </div>



    <!-- 4 COL CARDS -->
    <div class="row 4-col">
          <div class="col-xs-12">

            <div class="row">
              <!-- HAPPENING NOW -->
              <div class="col-xs-12 card">

                <span ng-hide="itisToday"><h1>Wednesday Afternoon</h1></span>
                <span ng-show="itisToday"><h1>This Afternoon</h1></span>

                <a ng-href="#/post/AICP_DIGITAL_PRESENTS3"> <!-- ///////////////////////// -->
                  <div class="container">
                    <div class="header">2:30 PM <span class="pull-right">MoMA</span></div>
                    
                    <!-- <p class="content">Lorem Ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
                    <!-- <img src="img/icons/food.png"> --><span class="pull-right"><img width="110" src="img/AICP/AICP_lecture_logo.svg"></span>
                    <p class="title">The AICP Directors Lecture Series At Museum of Modern Art <br><br> Full AICP Week Passholders Only</p>
                      
                    
                       <!--  <p>MORE <span class="typcn typcn-th-list"></span></p> -->

                  </div>
                </a>
                <div class="footer lecture-footer"></div>
              </div>

          </div>
          <!-- <div class="footer">MORE ></div> -->

        </div>
    </div>





  <span ng-show="landmarksHappened.length > 0">

      <div class="row">

         <!-- HAPPENED -->

          <div class="card"> 
            <!-- <h1>Happened</h1> -->
            <h1> Schedule </h1>
          </div>
         <li ng-repeat="landmark in landmarksHappened | limitTo:happenedLimit"> 
          <div class="col-xs-6 card 2col"> 
              <a ng-href="#/post/{{landmark.id}}">
                <div class="container" ng-class="{more: $last}">
                  <div class="header">{{landmark.time.start | date:'h:mm a'}}<span class="pull-right">{{landmark.loc_nickname}}</span></div>
                  <p class="title">{{landmark.name}}</p>
                  <p class="content">{{landmark.shortDescription}}</p>
                </div>
              </a>

              <span ng-show="($last)"><a ng-href="#/list/lecture/all"><div class="footer lecture-footer">FULL SCHEDULE <span class="typcn typcn-th-list"></span></div></a></span>

            </div>
          </li>

      </div>

  </span>








    <div class="row">

          <!-- TWITTER -->
          <div class="col-xs-6 card 2-col social twitter">
            <h1>Twitter</h1>
            <a ng-href="#/talk">
              <div class="container more">
                <p class="content">{{tweets[0].text}}</p>
                <span class="watermark typcn typcn-social-twitter"></span>
              </div>
            </a>
            <a ng-href="https://twitter.com/{{tweets[0].user.name}}/status/{{tweets[0].tweetID_str}}" target="_blank"><div class="footer lecture-footer">@{{tweets[0].user.name}} <span class="typcn typcn-export pull-right"><span></div></a>
          </div>

          <!-- INSTAGRAM -->
          <div class="col-xs-6 card 2-col social instagram">
            <h1>Instagram</h1>
            <a ng-href="#/insta">
            <div class="container more">
              <p class="content"><img ng-src="images/instagram/{{instagrams[0].local_path[0]}}" width="100%"></p>
              <span class="watermark typcn typcn-social-instagram"></span>
            </div>
            </a>
            <a ng-href="http://instagram.com/{{instagrams[0].user.screen_name}}" target="_blank"><div class="footer lecture-footer">@{{instagrams[0].user.screen_name}} <span class="typcn typcn-export pull-right"><span></div></a>
          </div>

    </div>

    <!-- FOOTER -->
      <br>
      <div class="row 4-col">
            <div class="col-xs-12">

              <div class="row">
                <!-- HAPPENING NOW -->
                <div class="col-xs-12 card" style="margin:0 auto; width:100%;">
                      
                      <h1>AICP SHOW ARCHIVES</h1>

                      <a href="http://www.aicpawards.com" style="text-decoration:none;" target="_blank"><img width="73" style="margin-left:19px;" src="img/AICP/partners/aicp.png"></a>
                      <br><br>
                      <a href="http://www.aicpawards.com" style="text-decoration:none;" target="_blank"><h1 class="title" style=" color:#3dc0fe;">aicpawards.com</h1>

                </div>

            </div>
          </div>
      </div>

      <br>

      <div class="row 4-col">

        <div class="card">
          <h1>AICP PARTNERS</h1>
        </div>


            <div class="col-xs-12">

              <img class="partner" src="img/AICP/partners/caps.png">
              <img class="partner" src="img/AICP/partners/prosight.png">
              <img class="partner" src="img/AICP/partners/universal.png">
              <img class="partner" src="img/AICP/partners/deluxe.png">
              <img class="partner" src="img/AICP/partners/shutterstock.png">

            </div>
          </div>
      </div>
      <br><br>

    <!-- ////////////////////// -->










