<div class="container-fluid" style="padding-left:5px; padding-right:19px;">
  <div class="row-fluid">
      <!--Body content-->

          <h3>Create new: </h3>
          <br>
          <span ng-show="!landmark.type" type="text" >

            <p>
                <a href="#/newworld/place"><div style="padding-right:10px;"><i style="font-size:25px;" class="fui-location"></i> Conference</div></a>
                <a href="#/newworld/event"><div style="padding-right:10px;"><i style="font-size:25px;" class="fui-calendar-solid"></i> Festival</div></a>
            </p>

          </span>

 
    </div>


  </div>
</div>









