.twitter-avatar {
	height: 32px;
	width: 32px;
}

.tweet.marble-page {
	min-height: auto;
}

.tweet footer {
	padding: 8px;
	word-wrap: break-word;
}

.tweet {
	color: #777;
}

.twitter-wrap {
	padding-top: 104px;
}