<!-- REMOVE AICP -->
<article class="marble-page-content">
	<ul>
		<li class="col-xs-4 switcherCircle--aicp" ng-class="{'opacity100': worldURL.indexOf('tuesday') > -1}">
			<a if-href="#w/aicp_2015_tuesday">
				<img class="img-responsive nearby-widget-avatar nearby-widget-avatar--aicp text-center" if-src="https://s3.amazonaws.com/if-server-avatar-images/2015/4/5259b427988920eb1d2517231b26f0d4.png">
			</a>
			<!-- <h6 class="text-center">AICP Tuesday</h6> -->
		</li>

		<li class="col-xs-4 switcherCircle--aicp" ng-class="{'opacity100': worldURL.indexOf('wednesday') > -1}">
			<a if-href="#w/aicp_2015_wednesday">
				<img class="img-responsive nearby-widget-avatar nearby-widget-avatar--aicp text-center" if-src="https://s3.amazonaws.com/if-server-avatar-images/2015/4/f777e95026a4faa15b0281d2efd4ac4c.png">
			</a>
			<!-- <h6 class="text-center">AICP Wednesday</h6> -->
		</li>

		<li class="col-xs-4 switcherCircle--aicp" ng-class="{'opacity100': worldURL.indexOf('thursday') > -1}">
			<a if-href="#w/aicp_2015_thursday">
				<img class="img-responsive nearby-widget-avatar nearby-widget-avatar--aicp text-center" if-src="https://s3.amazonaws.com/if-server-avatar-images/2015/4/c99c38e78da2b4cc7c14b6f163461d51.png">
			</a>
			<!-- <h6 class="text-center">AICP Thursday</h6> -->
		</li>
	</ul>
</article>