<div class="surface" ng-controller="ResetCtrl">
	<h4 class="auth-title">Change Password</h4>
		<br>
	  	<form ng-submit="sendUpdatePassword()">

	    <!-- <label class="control-label">New Password</label> -->
	    <input class="auth-input" type="password" placeholder="Password" ng-model="user.password" required/>
	    <h5 class="text-center">Password minimum 6 characters</h5>

	    <p>
	    	<button type="submit" class="btn btn-primary auth-submit">Change Password</button>
	    </p>

	    <alert ng-repeat="alert in alerts.list" type="{{alert.type}}" close="alerts.closeAlert($index)">{{alert.msg}}</alert>

	  </form>
</div>