<div class="new-announcement-form">
	<div class="form-group">
		<form name="contestForm" novalidate>

			<label for="name">Name</label>
			<input name="contestName"
						 ng-model="contest.name"
						 type="text"
						 class="form-control" 
						 required/>
			<div ng-show="contestForm.$submitted || contestForm.contestName.$touched">
  	    <div ng-show="contestForm.contestName.$error.required">This field is required.</div>
	    </div>

			<label for="headline">Contest Card Headline</label>
			<input name="contestHeadline"
						 ng-model="contest.headline"
						 type="text"
						 class="form-control" 
						 required/>
			<div ng-show="contestForm.$submitted || contestForm.contestHeadline.$touched">
  	    <div ng-show="contestForm.contestHeadline.$error.required">This field is required.</div>
	    </div>

			<label for="subheading">Subheading</label>
			<input name="contestSubheading"
						 ng-model="contest.subheading"
						 type="text"
						 class="form-control" 
						 required/>
			<div ng-show="contestForm.$submitted || contestForm.contestSubheading.$touched">
  	    <div ng-show="contestForm.contestSubheading.$error.required">This field is required.</div>
	    </div>

			<label for="body">Body</label>
			<textarea name="contestBody"
								ng-model="contest.body"
								class="form-control"
								required>
			</textarea>
			<div ng-show="contestForm.$submitted || contestForm.contestBody.$touched">
  	    <div ng-show="contestForm.contestBody.$error.required">This field is required.</div>
	    </div>

	    <label for="region">Region</label>
		  <select name="contestRegion"
		          ng-model="contest.region"
		  				class="form-control"
		          ng-options="region for region in regions">
		  </select>

		  <br>

			<text-angular ng-model="contest.htmlBody"></text-angular>
			<div class="clearfix"></div>

			<div class="col-lg-6 col-md-6 col-sm-6">
				<label for="hashtag1title">Hashtag #1 Title</label>
				<input name="contestHashtag1Title"
							 ng-model="contest.contestTags[0].title"
							 type="text"
							 class="form-control" />

				<label for="hashtag1">Hashtag #1</label>
				<input name="contestHashtag1"
							 ng-model="contest.contestTags[0].tag"
							 type="text"
							 class="form-control" />
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6">
				<label for="hashtag2title">Hashtag #2 Title</label>
				<input name="contestHashtag2Title"
							 ng-model="contest.contestTags[1].title"
							 type="text"
							 class="form-control" />

				<label for="hashtag2">Hashtag #2</label>
				<input name="contestHashtag2"
							 ng-model="contest.contestTags[1].tag"
							 type="text"
							 class="form-control" />
			</div>

      <div class="col-md-6">
          <p class="input-group datepicker-group">
            <input type="text" 
            			 class="form-control" 
            			 datepicker-popup="{{'dd-MMMM-yyyy'}}" 
            			 ng-model="dateTime.startDate" 
            			 is-open="$parent.openedStart" 
            			 datepicker-options="dateOptions" 
            			 ng-required="true" 
            			 close-text="Close" />
            <span class="input-group-btn">
              <button type="button" 
              				class="btn btn-default" 
              				ng-click="openStart($event)">
              				<i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </p>
      </div>
      <timepicker ng-model="dateTime.startTime" 
      						hour-step="1" 
      						minute-step="15" 
      						show-meridian="true"></timepicker>
  		
      <div class="col-md-6">
          <p class="input-group datepicker-group">
            <input type="text" 
            			 class="form-control" 
            			 datepicker-popup="{{'dd-MMMM-yyyy'}}" 
            			 ng-model="dateTime.endDate" 
            			 is-open="$parent.openedEnd" 
            			 datepicker-options="dateOptions" 
            			 ng-required="true" 
            			 close-text="Close" />
            <span class="input-group-btn">
              <button type="button" 
              				class="btn btn-default" 
              				ng-click="openEnd($event)">
              				<i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </p>
        </div>
        <timepicker ng-model="dateTime.endTime" 
        						hour-step="1" 
        						minute-step="15" 
        						show-meridian="true"></timepicker>

			<input type="submit" 
						 value="New" 
						 class="btn btn-success"
						 ng-click="submit(contestForm)" />

			<input type="submit" 
						 value="Update" 
						 class="btn btn-warning"
						 ng-click="updateContest(contestForm)" />

		</form>
	</div>
</div>