<nav class="subnav-fixed">
  <select class="menu pull-left" 
          ng-change="changeRoute()"
          ng-model="currentRoute"
          ng-options="route for route in routes">
  </select>
  <p class="superuser-title">{{region | capitalizeFirst}} Entries</p>
</nav>

<div id="shelf" lazy-load load-more="loadEntries()" 
     class="shelf-surface wrap superuser-background">
  <div class="container-fluid navfix">
    <div class="superuser-list">
     
      <ul>
        <li class="announcement" ng-repeat="entry in entries track by $index">

          <div class="superuser-left-col">
            <div>
              <button ng-if="entry.valid" 
                      class="btn btn-success"
                      ng-click="toggleValidity($index)">Valid</button>
              <button ng-if="!entry.valid" 
                      class="btn btn-warning"
                      ng-click="toggleValidity($index)">Invalid</button>
            </div>
            <br>
            <div>
              <button class="btn btn-danger"
                      ng-click="deleteEntry($index)">Delete</button>
            </div>
          </div>

          <div class="media card superuser-list-item superuser-list-item-entry">

            <h4>{{entry.userName}}</h4>
            <p>From Bubble: <a ng-href="/w/{{entry.worldName}}">{{entry.worldName}}</a></p>
            <div class="contest-entry-pic">
              <img ng-src="{{entry.imgURL}}">
            </div>
            <div>
            Tags:
              <span ng-repeat="tag in entry.contestTag">{{tag.tag}}<span ng-if="!$last">, </span></span>
            </div>
            <p>Distance: {{entry.distanceFromWorld | number}} km</p>
            <p>{{::entry.userTime | date:'medium'}}</p>
            <p>Region: {{entry.region}}</p>

          </div>

        </li>
      </ul>

    </div>
  </div>
  <div class="clearfix"></div>
</div>