<!-- Chevron - can reuse if we have more than 1 announcement. Hiding for near term. -->
<!-- <img class="announcement-chevron"
		 ng-if="!(index === announcements.length - 1)"
		 ng-click="nextCard($event)"
		 src="img/icons/ic_chevron_right_blue_48dp.png" />
 -->
<div class="announcements-card-container">
	<div ng-repeat="announcement in announcements track by $index"
			 class="announcements-card announcements-animate if-animate u-pointer" 
			 ng-show="$index === index">
		<a if-href="{{announcement.urlPath}}">
			<h3>{{announcement.headline}}</h3>
			<p class="announcement-body">{{announcement.body}}</p>
			<p class="announcement-link">{{announcement.urlName}}</p>
		</a>
	</div>
</div>