<div class="col-xs-12 col-sm-6 widget_margin">
<h4 class="category-heading" ng-style="{color: style.categoryTitle_color}">Wyzerr</h4>
	<div class="landmark">
		<a href="http://wyzerrdemo.cloudapp.net/DemoDay/" target="_blank">
		<div class="media card last" ng-style="{'background-color': style.cardBG_color}">
				<div class="media-object">
		<img class="img-responsive" src="img/wyzerr.png">
		</div>
		<div class="media-body">
			<h4>HOW WAS YOUR EXPERIENCE?</h4>
			<span>SHARE FEEDBACK</span>
		</div>

		</div>
		</a>
	</div>
	<div class="wyzerr footer">
	</div>
</div>