
<div class="nav-wrapper">
    <ul id="nav"
    class="nav"
    data-slim-scroll
    data-collapse-nav
    data-highlight-active>
        <li><a md-button aria-label="meanu" href="#/dashboard"><i class="zmdi zmdi-home"></i><span data-translate="Dashboard"></span> </a></li>

        <li><a md-button aria-label="meanu" href="#/status/servers"><i class="zmdi zmdi-view-list"></i><span data-translate="Status"></span> </a></li>

        <li>
            <a md-button aria-label="meanu" href="#/page"><i class="zmdi zmdi-pages"></i><span data-translate="Query Tools"></span></a>
            <ul>
                <li><a md-button aria-label="meanu" href="#/query/test"><i class="fa fa-circle"></i><span data-translate="Test a Query"></span></a></li>
                <li><a md-button aria-label="meanu" href="#/query/test"><i class="fa fa-circle"></i><span data-translate="Map an Area"></span></a></li>
            </ul>
        </li>
        <li>
            <a md-button aria-label="meanu" href="#/table"><i class="zmdi zmdi-view-list"></i><span data-translate="VC Stats"></span></a>
            <ul>
                <li><a md-button aria-label="meanu" href="#/vc/timexsearch"><i class="fa fa-circle"></i><span data-translate="Searches x Time"></span></a></li>
                <li><a md-button aria-label="meanu" href="#/vc/slackstats"><i class="fa fa-circle"></i><span data-translate="Slack Stats"></span></a></li>
            </ul>
        </li>
        <li>
            <a md-button aria-label="meanu" href="#/form"><i class="zmdi zmdi-edit"></i><span data-translate="Errors"></span></a>
            <ul>
                <li><a md-button aria-label="meanu" href="#/errors/node"><i class="fa fa-circle"></i><span data-translate="Node.js"></span></a></li>
                <li><a md-button aria-label="meanu" href="#/errors/front-end"><i class="fa fa-circle"></i><span data-translate="Front-end"></span></a></li>
                <li><a md-button aria-label="meanu" href="#/errors/processing"><i class="fa fa-circle"></i><span data-translate="Processing"></span></a></li>
            </ul>
        </li>
        <li>
            <a md-button aria-label="meanu" href="#/tests"><i class="zmdi zmdi-view-list"></i><span data-translate="Tests"></span></a>
            <ul>
                <li><a md-button aria-label="meanu" href="#/tests/nlp"><i class="fa fa-circle"></i><span data-translate="NLP"></span></a></li>
            </ul>
        </li>
    </ul>
</div>
