<div class="center-wrapper">
	<p>Tell your friends to visit <a target="_blank" href="https://kipapp.co">https://kipapp.co</a> when they're at your Bubble. 
		<br>
		Your Bubble will automatically pop up! You can also share this direct link: <br><span class="u-textHighlight u-textAlignCenter">https://kipapp.co/w/{{world.id}}</span>
	</p>
</div>
<br>
<div>
	<ul class="done-list">
		<button class="btn btn-primary center-block"
			ng-click="hardGo('w/{{world.id}}')">
			View your new Bubble now!
		</button>
	</ul>
</div>

