
  <span ng-hide="option == 'new' "><button class="btn backbtn" ng-click="goBack()">< BACK </button></span>

    <div class="card social"> 
      <h1>TICKETS AVAILABLE FOR PICKUP AT BASECAMP 8:30 AM - 4:30PM</h1>
    </div>

    <div class="card"> 
      <h1>{{queryFilter}} {{day}} EVENTS</h1>
    </div>

  <!-- 2 COL CARDS -->
    <div class="row" id="card-container">

        <div class="card" ng-repeat="landmark in landmarksList"> 
            <a ng-href="#/post/{{landmark.id}}">
              <div class="container">
                <div class="header">{{landmark.time.start | date:'h:mm a'}}<span class="pull-right">{{landmark.loc_nickname}}</span></div>
                <p class="title">{{landmark.name}}</p>
                <p class="content">{{landmark.shortDescription}}</p>
              </div>
            </a>

          </div>

    </div>




    <div id="gapfill" style="height:900px;"></div>



