<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Kip Gym Leaders :D</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css"/>
    <link href="normalize.css" rel="stylesheet" type="text/css"/>
    <link href="skeleton.css" rel="stylesheet" type="text/css"/>
    <link href="admin.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div class="row headerBar">
        <span>Kip Styles</span>
    </div>
<div class="container">
    <h1>Kip Pokemon Gym Leaders secret admin site</h1>
</div>
<script src="zepto.min.js"></script>
<script src="admin.js"></script>
</body>
</html>
