<button ng-click="prevPage()">prev</button>

<button ng-click="nextPage()">next</button>
	<ul id="maker-pages">
		<li ng-class="pageClass[0]" class="container"> 
		<form name="worldDetail" ng-submit="submitForm()" id="worldDetail" novalidate>
			<legend>Create your World</legend>
				<div class="map-holder">
					<leaflet id="worldDetailMap" tiles="tiles" center="center" markers="markers" paths="paths">
								 
					</leaflet>
					<input name="locsearchbar" type="text" class="locsearch" ng-model="locsearchbar" ng-keypress="maplocsearch($event)"/>
				</div>
			<div class="row">
				<div class="col-xs-6">
					<div class="field">
						<label>Name</label> <input name="worldName" type="text" ng-model="world.name" required />
						<div class="error" ng-show="worldDetail.worldName.$dirty && worldDetail.worldName.$error.required">
								Name is required.</div>
					</div>
					<div class="field">
						<label>Picture</label> 
								
						<span class="btn btn-success fileinput-button">
				        	<i class="icon-plus icon-white"></i>
							<span>Add Profile Pic</span>
							<input id="fileupload" type="file" name="files[]">
						</span>
						
						<label>Or Drag & Drop Pic ↑</label>
				
						<div id="progress" class="progress">
							<div class="bar" style="width: 0%;"></div>
						</div>
				
						<p id="uploadedpic"></p>
						<div id="preview"></div>         
				
					</div>
					<div class="field">
						<label>Summary</label> <input name="worldSummary" type="text" ng-model="world.summary" required/>
						<div class="error" ng-show="worldDetail.worldSummary.$dirty && worldDetail.worldSummary.$error.required">
						A summary is required!
						</div>
					</div>
					<div class="field">
						<label>Description</label> <input name="worldDescription" type="text" ng-model="world.description" required/>
						<div class="error" ng-show="worldDetail.worldDescription.$dirty && worldDetail.worldDescription.$error.required">
						A description is required! 
						</div>
					</div>
					<div class="field">
						<label>Hashtag</label> <input name="worldHashtag" type="text" ng-model="world.hashtag" required/>
						<div class="error" ng-show="worldDetail.worldHashtag.$dirty && worldDetail.worldHashtag.$error.required">
						A hashtag is required!
						</div>
					</div>
					<div class="field">
						<label>Category</label> <input name="worldCategory" type="text" ng-model="world.category" required/>
						<div class="error" ng-show="worldDetail.worldCategory.$dirty && worldDetail.worldCategory.$error.required">
						A category is required
					</div>
				</div>
				</div>
				<div class="col-xs-6">
					<div class="field">
						<button ng-click="mapLock()" type="button">Draw Bubble</button><span class="mappos">{{markers.m.lat}},{{markers.m.lng}}</span>
					</div>
					<div class="field">
						<label>Start Date</label> <input type="text" ng-model="world.date.start" data-date-format="MM dd, yyyy" bs-datepicker/>
                      <button type="button" class="btn" data-toggle="datepicker"><i class="icon-calendar"></i></button>
                    </div>
                    <div class="field">
                      	<label>Start Time</label> <input type="text" ng-model="world.time.start" data-date-format="hh:mm" bs-timepicker />
					  	<button type="button" class="btn" data-toggle="timepicker"><i class="icon-time"></i></button>
					</div>
					<div class="field">
                      	<label>End Time</label> <input type="text" ng-model="world.time.end" data-date-format="hh:mm" bs-timepicker />
                      <button type="button" class="btn" data-toggle="timepicker"><i class="icon-time"></i></button>
					</div>

                      <h4><a ng-click="showEndDateDetails = ! showEndDateDetails ; addEndDate()">Add End Date?</a></h4>
                     		<span ng-show="showEndDateDetails" >
					 		 <hr>
					  		<label>End Date</label> <input type="text" ng-model="world.date.end" data-date-format="MM dd, yyyy" bs-datepicker/>                
                          <button type="button" class="btn" data-toggle="datepicker"><i class="icon-calendar"></i></button>    
						  </span> 

					  </div>
			</div>
		</form>
		</li>
				
		<li ng-class="pageClass[1]" class="container">
		<form name="mapStyle" novalidate>
			<legend>Style your Map</legend>
				<div class="row">
					<div class="col-xs-8">		
						<div class="mapbox field">
							<div class="row">
								<div class='col-xs-6'><img class="col-xs-12 img-responsive" ng-src="/img/mapbox/urban_small.png"/>urban</div>
								<div class='col-xs-6'><img class="col-xs-12 img-responsive" ng-src="/img/mapbox/fairy_small.png"/>fairy</div>
								<div class='col-xs-6'><img class="col-xs-12 img-responsive" ng-src="/img/mapbox/sunset_small.png"/>sunset</div>
								<div class='col-xs-6'><img class="col-xs-12 img-responsive" ng-src="/img/mapbox/arabesque_small.png"/>arabesque</div>
							</div>
							<div class="row">
								<div class='col-xs-4'>
									<select ng-model="mapping.mapThemeSelect" ng-options="mapTheme.name for mapTheme in mapThemes" class='form-control'></select>
								</div>
							</div>
						</div>
						<div class='field'>
							<div class='row'>
								<div class='col-xs-1'><img class="marker-img" ng-src='/img/marker/red-marker.png'/></div>
								<div class='col-xs-1'><img class="marker-img" ng-src='/img/marker/orange-marker.png'/></div>
								<div class='col-xs-1'><img class="marker-img" ng-src='/img/marker/yellow-marker.png'/></div>
								<div class='col-xs-1'><img class="marker-img" ng-src='/img/marker/green-marker.png'/></div>
								<div class='col-xs-1'><img class="marker-img" ng-src='/img/marker/blue-marker.png'/></div>
								<div class='col-xs-1'><img class="marker-img" ng-src='/img/marker/purple-marker.png'/></div>
								<div class='col-xs-7'>
									<select ng-model="mapping.markerSelect" ng-options="markerOption.name for markerOption in markerOptions" class='form-control'></select>
								</div>
							</div>
						</div>
						<div class="field">
								upload your own
								  <modal-dialog show='myData.modalShown' width='500px' dialog-title='Modal Dialog Title' on-close='logClose()'>
							        <p>This is some html content</p>
							        <p>
							          <label for='hello'>Hello:</label>
							          <input type='text' name='hello' ng-model='myData.hello' />
							        </p>
							        <p>
							          <label for='foo'>Foo:</label>
							          <input type='text' name='foo' ng-model='myData.foo' />
							        </p>
							        <img src='http://upload.wikimedia.org/wikipedia/commons/2/22/Turkish_Van_Cat.jpg' width='300px'/>
							      </modal-dialog>
							      <button ng-click='toggleModal()'>Toggle Modal</button>
						</div>
						<div class="field">
								Add a floorplan ---  
						</div>
					</div>
				</div>
		</form>
		</li>
		
		<li ng-class="pageClass[2]" class="container">
		<form name="landmarkCreator" novalidate>
			<legend>Pin your Landmarks</legend>
			<img src="img/editor/syracuse.jpg" width=100%/>
			<button>+++</button>
			<div class="field">
				<label>Name</label> <input name="landmarkName" type="text" ng-model="landmark.name" />
			</div>
			<div class="field">
				<label>Picture</label> <input name="landmarkPicture" type="file" />
			</div>
			<div class="field">
				<label>Summary</label> <input name="landmarkSummary" type="text" ng-model="landmark.summary" />
			</div>
			<div class="field">
				<label>Description</label> <input name="landmarkDescription" type="text" ng-model="landmark.category" />
			</div>
			<div class="field">
				<label>Category</label> <input name="landmarkName" type="text" ng-model="landmark.tags" />
			</div>
		</form>
		</li>
		
		<li ng-class="pageClass[3]" class="container">
		<form name="explorerStyle" novalidate>
			<legend>Style your Explorer</legend>
			<div class="row">
				<div class="col-xs-6">
					<div class="field">
						<label>Body BG</label> <input name="bodyBG" type='text' class='color' value='#E6E6E6' ng-model='styles.bodyBG_color'/>
					</div>
					<div class="field">
						<label>Card BG</label> <input name="cardBG" type='text' class='color' value='#FFFFFF' ng-model='styles.cardBG_color'/>
					</div>
					<div class="field">
						<label>Card Border</label> <input name='cardBorder' type='text' class='color' value='#808080' ng-model='styles.cardBorder_color'/>
					</div>
					<div class="field">
						<label>World Title Color</label> <input name="worldTitle" type='text' class="color" ng-model='styles.worldTitle_color'/>
					</div>
					<div class="field">
						<label>Landmark Title Color</label> <input name="landmarkTitle" type='text' class="color" ng-model='styles.landmarkTitle_color' disabled/>
					</div>
					<div class="field">
						<label>Category Title Color</label> <input name="categoryTitle" type='text' class="color" ng-model='styles.categoryTitle_color' disabled/>
					</div>
					<div class="field">
						<label>Accent Text Color</label> <input name="accent" type='text' class="color" ng-model='styles.accent_color' disabled/>
					</div>
					<div class="field">
						<label>Body Font</label> <select></select>
					</div>
					<div class="field">
						<label>Theme Font</label> <select disabled></select>
					</div>
					<div class="field">
						<label>Twitter Widget</label> <input type="checkbox">
					</div>
				</div>
				<div class="col-xs-6">
						<div class="livepreview" ng-style="{'background-color':styles.bodyBG_color}">
							<div class="container">
							<div class="row">
								<div ng-style="cardStyle" class="col-xs-12">
								<h1 ng-style="worldTitleStyle">World Title Color</h1>
								</div>
								<span ng-style="categoryTitleStyle">Category Title Color</span>
								<div ng-style="cardStyle" class="col-xs-12">
								<span ng-style="landmarkTitleStyle">Landmark Title Color</span>
								</div>
							</div>
							</div>
						</div>
				</div>
			</div>
			
		</form>
		
		</li>
		
		<li ng-class="pageClass[4]" class="container">
		congrats.
		</li>
	</ul>
		
</div>